/* table for Image, address + info */
#flexbox p {
    /*spacing for address */
    margin-left: 45px;
}
#flexbox li {
    list-style-image: url(./public/coffee.png);
    margin-left:30px;
}
#flexbox ul{
    margin-top: 0px;
}
#flexbox{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    padding-bottom: 20px;
}

