table {
    margin: auto;
    width: 600px;
}
td {
    padding: 5px;
}
tr:nth-of-type(odd) {
    background-color: #E1D1B3;
}
img {
    padding: 0px 80px;
}
table tr {
    padding-left: 40px;
}
audio {
    margin-top: 10px;
}
p {
    margin-left: 20px;
}