/* global font */
body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #f3eab3;
}
#wrapper {  
    background-color: #e2d2b0; 
    width: "80%";
	min-width: "800px";
    margin: auto;
    box-shadow: 6px 6px 11px #4a2018;
} 
/*Styling for the JavaJam Logo */
header { 
    background-color: #d2b48c;
    padding: 10px 10px 10px 150px;
    text-align: center; 
}

h2 {
    margin-top: 0px;
    padding: 20px 0px 10px 20px;
}
/**Styling for the side bar **/
#sidebar{
    float:left;
}
nav ul { 
    /*remove bullet point */
    list-style-type: none;
}

nav li {
    text-align: center;
}

nav a {
    /*remove underline on hyperlink*/
    text-decoration: none;
    color: #8f7b60;
    font-weight: bold;
}

#mainpage{
    margin-left: 155px;
    background-color: #ebebc5;
    color: #000000;
}

footer {
    font-size:80%;
    text-align: center;
    clear: right;
    padding-bottom:20px;
    padding-top: 20px;
    background-color: #d2b48c; 
}	